Flask==0.12.4
tabulate==0.8.2
werkzeug==0.14.1
apache-airflow==2.0.0
beautifulsoup4
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
numpy
py4j
pyelasticsearch
pymongo
requests
scipy
selenium
sklearn
tldextract
wikipedia
findspark
iso8601
notebook==5.0.0
